---
layout: compress
---

<!DOCTYPE html>
<html>
{% include head.html %}
<body id="posts" class="inner-post-page" style="background: #ececec52;">
    <div style="overflow-y:auto; height: 100%;">
        <a href="{{ site.url }}">
            <h3 style="margin-left: 56px;">Home</h3>
        </a>
      <div class="inner-post content-post" style="padding-top: 0px;">
        <h1 style="text-align: center;">{{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}</h1>
        <div class="date-highlight">{% if page.date %}{{ page.date | date: '%d %b %Y' }}{% else %}&#x2756;{% endif %}</div>
        {{ content }}
      </div>
    {% include scripts.html %}
    {% include overlay.html %}
  </div>
</body>
</html>
